@model IEnumerable<MembersOverview>

@{
    ViewData["Title"] = "MembersOverView";
}

<h1>MemberOverView</h1>




<form asp-action="FilterMembers" method="get">
    <div class="input-group mb-3">
        <input type="text" name="email" class="form-control" placeholder="Search on Email...">
        <div class="input-group-append">
            @*<select name="vehicleType" asp-items="@Html.GetEnumSelectList<VehicleTypes>()" class="form-control">
                <option selected="selected" value="">All Types of Vehicles</option>
            </select>*@
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-outline-secondary" id="search-btn"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleCount)
                </td>
                <td>
                    THESE EDIT AND DELETE CONTROLLERS GO TO PARKING SINCE THEY ARE ON THE PARK CONTROLLER NOW. EDIT MEMBER REMOVE MEMBER METHODS NEEDED
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="MemberDetails" asp-route-id="@item.Id">MemberDetails</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
