@model IEnumerable<GarageThree.ViewModels.VehiclesOverView>

@{
    ViewData["Title"] = "OverView";
}

<h1>OverView</h1>

<form asp-action="FilterOverView" method="get">
    <div class="input-group mb-3">
        <input type="text" name="OwnerID" class="form-control" placeholder="Search on OwnerID...">
        <div class="input-group-append">
            @*<select name="vehicleType" asp-items="@Html.GetEnumSelectList<VehicleTypes>()" class="form-control">
                    <option selected="selected" value="">All Types of Vehicles</option>
                </select>*@
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-outline-secondary" id="search-btn"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Regnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrivaldate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSpots)
            </th>
            <th>IF Park and Unpark Goes Back to Start with TEMPDATA Application is Finished But hard to see</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Regnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrivaldate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membership.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpots)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                <a asp-action="ParkExisting" asp-route-id="@item.Id">Park</a>|
                <a asp-action="UnPark" asp-route-id="@item.Id">Unpark</a> 
            </td>
        </tr>
}
    </tbody>
</table>
